/* iron-flex classes */

.layout.horizontal,
.layout.vertical {
  display: flex;
}
.layout.inline {
  display: inline-flex;
}
.layout.horizontal {
  flex-direction: row;
}
.layout.vertical {
  flex-direction: column;
}
.layout.wrap {
  flex-wrap: wrap;
}
.layout.center,
.layout.center-center {
  align-items: center;
}
.layout.center-center,
.layout.center-justified {
  justify-content: center;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-none {
  flex: none;
}
.flex,
.flex-1 {
  flex      : 1;
  flex-basis: 0.000000001px;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.flex-7 {
  flex: 7;
}
.flex-8 {
  flex: 8;
}
.flex-9 {
  flex: 9;
}
.flex-10 {
  flex: 10;
}
.flex-11 {
  flex: 11;
}
.flex-12 {
  flex: 12;
}
.block {
  display: block;
}
/* IE 10 support for HTML5 hidden attr */
[hidden] {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}
.relative {
  position: relative;
}
.fit {
  position: absolute;
  top     : 0;
  right   : 0;
  bottom  : 0;
  left    : 0;
}
.scroll {
  -webkit-overflow-scrolling: touch;
  overflow                  : auto;
}
/* fixed position */
.fixed-bottom,
.fixed-left,
.fixed-right,
.fixed-top {
  position: fixed;
}
.fixed-top {
  top  : 0;
  left : 0;
  right: 0;
}
.fixed-right {
  top   : 0;
  right : 0;
  bottom: 0;
}
.fixed-bottom {
  right : 0;
  bottom: 0;
  left  : 0;
}
.fixed-left {
  top   : 0;
  bottom: 0;
  left  : 0;
}
