// Application theme

// colors
$dark-c: #006aa7;
$c: #009bf3;
$light-c: #49B5F3;
$light-accent-c: #fedb4c;
$accent-c: #fc0;
$trans-accent-c: rgba(255, 204, 0, .5);
$dark-accent-c: #cba300;
$light-bg-c: #FFF;
$bg-c: #F2F2F2;
$dark-bg-c: #CCC;
$dark2-bg-c: #999;
$text-c: #222;
$secondary-text-c: #777;
$disabled-text-c: #BBB;
$divider-c: #BBB;
$hover-bg-c: $light-c;
$active-bg-c: $c;
$focus-bg-c: $c;
$save-c: #8BC34A;
$light-divider-c: #DDD;
$chrome-blue: #1f98cf;
$chrome-green: #55b645;
$chrome-yellow: #fad008;
$chrome-red-light: #fbe1e0;
$chrome-red: #e53a33;

// typography
@mixin paper-font-common-base() {
  font-family           : 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
@mixin paper-font-body1() {
   @include paper-font-common-base();
  // font-size: 14px; // original polymer
  font-size  : 12px;
  font-weight: 400;
  line-height: 20px;
}

// animation
$trans-d: .2s;
$trans-t: cubic-bezier(.25,.5,.5,1);
$trans-all: all $trans-d $trans-t;
$trans-d-t: $trans-d $trans-t;
$trans-li: color $trans-d-t, background-color $trans-d-t, opacity $trans-d-t;

// layout
$base-size: 3px;
$base-space: 3px;
$base-indent: 12px;
$icon-text-gap: 3px;
$border-radius: 1px;
$rounded-border-radius: 50%;
@mixin fit() {
  position: absolute;
  top     : 0;
  bottom  : 0;
  left    : 0;
  right   : 0;
}

// icons
// icon make. not used but keep it. very cool!
// @mixin bg-img($d, $fill) {
//   $str            : 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="';
//   $str            : $str + $fill + '" d="' + $d + '"/></svg>';
//   background-image: url($str);
// }
// $i-add: "M14 9H9v5H7V9H2V7h5V2h2v5h5z";
$i-folder-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="#fc0" d="M6,1,2,1c-1,0-2,1-2,2v10c0,1,1,2,2,2h12c1,0,2-1,2-2v-8c0-1-1-2-2-2h-6z"/></svg>');
$i-folder-icon-open: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path stroke="#fc0" stroke-width="2" fill="none" d="m6,2.18-3,0c-2,0-2,0-2,2v8c0,2,0,2,2,2h10c2,0,2,0,2-2v-6c0-2,0-2-2-2h-5z"/></svg>');
$i-folder-icon-empty: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path stroke="#999" stroke-width="2" fill="none" d="m6,2.18-3,0c-2,0-2,0-2,2v8c0,2,0,2,2,2h10c2,0,2,0,2-2v-6c0-2,0-2-2-2h-5z"/></svg>');
$i-grab-handle: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="#999" d="M5.5 1.5C4.675 1.5 4 2.175 4 3s.675 1.5 1.5 1.5S7 3.825 7 3s-.675-1.5-1.5-1.5zm5 0C9.675 1.5 9 2.175 9 3s.675 1.5 1.5 1.5S12 3.825 12 3s-.675-1.5-1.5-1.5zm-5 5C4.675 6.5 4 7.175 4 8s.675 1.5 1.5 1.5S7 8.825 7 8s-.675-1.5-1.5-1.5zm5 0C9.675 6.5 9 7.175 9 8s.675 1.5 1.5 1.5S12 8.825 12 8s-.675-1.5-1.5-1.5zm-5 5c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5S7 13.825 7 13s-.675-1.5-1.5-1.5zm5 0c-.825 0-1.5.675-1.5 1.5s.675 1.5 1.5 1.5S12 13.825 12 13s-.675-1.5-1.5-1.5z"/></svg>');
$favicon-size: $base-size * 16 / 3;
$icon-size-t-18: 6 * $base-size + 2 * $base-space;
$line-height: $icon-size-t-18 + 2 * $base-space;
@mixin icon() {
  flex       : 0 0;
  line-height: 0;
}
@mixin icon-size($size) {
  $scaled  : $size * $base-size / 3;
  min-width: $scaled;
  width    : $scaled;
  height   : $scaled;
  padding  : $base-space;
}

// buttons
@mixin btn() {
  cursor          : default;
  line-height     : $line-height;
  border-radius   : $border-radius;
  background-color: rgba(0, 0, 0, 0);
  fill            : currentColor;
  transition      : $trans-li;
}
@mixin btn-hover() {
  background-color: $hover-bg-c;
  color           : white;
}
@mixin btn-focus() {
  // background-color: $focus-bg-c;
}
@mixin btn-active() {
  background-color: $active-bg-c;
  color           : white;
}
@mixin bgicon($icon-size) {
  text-indent        : $icon-size + $icon-text-gap;
  background-repeat  : no-repeat;
  background-position: $base-space center;
  background-size    : $icon-size $icon-size;
  min-width          : $icon-size;
}
@mixin label() {
  white-space    : nowrap;
  text-overflow  : ellipsis;
  text-decoration: none;
  overflow       : hidden;
  padding        : 0 $base-space;
}

// toolbar
@mixin toolbar() {
  display    : flex;
  align-items: center;
}

// bar
$max-bar-item-width: 15ch;

// scrollbar
$scrollbar-width: 1px;
$scrollbar-height: 1px;
@mixin scrollbar() {
  background-color: $bg-c;
  width           : $scrollbar-width;
  height          : $scrollbar-height;
}
@mixin hover-scrollbar() {
  background-color: $bg-c;
}
@mixin scrollbar-thumb() {
  background-color: $dark-bg-c;
  border-radius   : $scrollbar-width / 2;
}
@mixin scrollbar-thumb-hover() {
  background-color: $light-accent-c;
}
@mixin scrollbar-thumb-active() {
  background-color: $accent-c;
}
@mixin scrollbar-thumb-horiz() {
  border-radius: $scrollbar-height / 2;
}
@mixin scrollbar-thumb-inactive() {
  background-color: $bg-c;
}
